@import 'mixin';

.col{
  flex-grow: 1;
  max-width: 100%;
}

.header{
  .header__sub{
    &:first-child{
      border-bottom: 2px solid #eff2f5;
    }
    .row{
      display: flex;
      width: 1200px;
      height: 70px;
      margin: 0 auto;
      .header__logo{
        @include flex_v_center();
        .logo_link{
          display: block;
          .logo_img{
            max-width: 192px;
          }
        }
      }
      .header__dota{
        width: 90px;
        background-color: #2f3647;
        @include flex_center();
        .dota_link{
          display: block;
          .dota_link__img{
            width: 35px;
          }
        }
      }
      .header__bonuses{
        @include flex_center();
        .bonuses_link{
          display: flex;
          text-decoration: unset;
          .bonuses_link__img{
            width: 45px;
          }
          .bonuses_link__text{
            color: #92cfec;
            margin-left: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            h3, p{
              margin: 0;
            }
          }
        }
      }
      .header__telegram{
        @include flex_center();
        .telegram_link{
          display: flex;
          text-decoration: unset;
          .telegram_link__img{
            width: 45px;
          }
          .telegram_link__text{
            margin-left: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            h3, p{
              margin: 0;
              color: #729dff;
            }
          }
        }
      }
      .header__my_bet{
        display: flex;
        justify-content: center;
        align-items: center;
        .my_bet__button{
          width: 155px;
          height: 45px;
          border: unset;
          border-radius: 45px;
          background-color: #6d809a;
          @include flex_center();
          color: #fff;
          text-decoration: unset;
          img{
            width: 17px;
            margin-right: 5px;
          }
          .my_bet__button__text{
            font-weight: bold;
          }
        }
      }
      .header__profile{
        @include flex_v_center();
        justify-content: flex-end;
        .profile__photo{
          position: relative;
          margin-top: 8px;
          margin-right: 8px;
          .user__photo{
            border-radius: 50%;
            overflow: hidden;
            height: 40px;
            width: 40px;
            position: relative;
            img{
              width: 100%;
              position: absolute;
              top: 50%; left: 50%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
          }
          .user__profile__indicate{
            position: absolute;
            top: -8px;
            right: -8px;
            .user__status{
              border-radius: 50%;
              overflow: hidden;
              background-color: #f3f5f8;
              height: 15px;
              width: 15px;
              position: relative;
              .user__status__online{
                position: absolute;
                top: 2px;
                right: 2px;
                height: 6px;
                width: 6px;
                background-color: #fe0623;
                border-radius: 50%;
                overflow: hidden;
              }
            }
          }
        }
        .profile__meta{
          .user__name{
            font-weight: bold;
          }
          .user__money{
            color: #17c06d;
            font-weight: bold;
          }
        }
        .profile__menu{
          display: flex;
          .deposit{
            margin: 0 10px;
            background-color: #17c06d;
            color: #fff;
            border: unset;
            @include flex_center();
            border-radius: 50%;
            width: 24px;
            height: 24px;
            text-decoration: none;
            font-weight: bold;
            .deposit_plus{
              width: 12px;
            }
          }
          .profile__menu__menu{
            width: 11px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: 2px;
            padding-bottom: 2px;
            .profile__menu__menu__element{
              display: flex;
              justify-content: flex-end;
              .element__bg{
                height: 2px;
                background-color: #27303b;
                border-radius: 4px;
              }
              &:nth-child(1){
                .element__bg{
                  width: 100%;
                }
              }
              &:nth-child(2){
                .element__bg{
                  width: 50%;
                }
              }
              &:nth-child(3){
                width: 1px;
              }
            }
          }
        }
      }

      .header__menu{
        @include flex_v_center();
        .no_style{
          @include no_style();
          .menu__item{
            @include flex_center();

            margin-left: 26px;
            &:first-child{
              margin-left: unset;
            }
            .menu__item__link{
              text-decoration: unset;
              color: #4c5768;
              &.phones{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: #7d8ea0;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 12px;
                }
              }
            }
          }
        }
      }
      .header__social{
        @include flex_v_center();
        justify-content: flex-end;
        .no_style {
          @include no_style();
          .menu__item{
            @include flex_center();
            margin-left: 12px;
            &:first-child{
              margin-left: unset;
            }
            .menu__item__link{
              width: 20px;
              img{
                width: 100%;
              }
            }
          }
        }
      }
      .header__time{
        @include flex_v_center();
        margin: 0 16px;
        .header__time__block{
          height: 36px;
          width: 100px;
          padding: 5px;
          border: 1px solid #e8ebf5;
          @include flex_center();
          .header__time__logo{
            width: 16px;
          }
          .selected__time{
            margin: 0 5px;
          }
          .header__time__caret{
            width: 7px;
          }
        }
      }
      .header__lang{
        @include flex_center();
        .no_style{
          @include no_style();
          .menu__item{
            .menu__item__link{
              @include flex_center();
              text-decoration: unset;
              border: 1px solid #e8ebf5;

              width: 90px;
              height: 36px;
              .lang__logo{
                width: 20px;
              }
              .text{
                height: 1rem;
                margin: 5px;
              }
              .header__lang__caret{
                width: 7px;
              }
            }
          }
        }
      }
    }
  }
}
