@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerThinDEMO.woff2') format('woff2'),
  url('../fonts/MullerThinDEMO.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerExtraBoldDEMO.woff2') format('woff2'),
  url('../fonts/MullerExtraBoldDEMO.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBlack.woff2') format('woff2'),
  url('../fonts/MullerBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBlackItalic.woff2') format('woff2'),
  url('../fonts/MullerBlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
