@mixin no_style{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_v_center{
  display: flex;
  align-items: center;
}