@font-face {
    font-family: 'Muller Thin DEMO';
    src: url('MullerThinDEMO.woff2') format('woff2'),
        url('MullerThinDEMO.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller ExtraBold DEMO';
    src: url('MullerExtraBoldDEMO.woff2') format('woff2'),
        url('MullerExtraBoldDEMO.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MullerRegular';
    src: url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBlack.woff2') format('woff2'),
        url('MullerBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBlackItalic.woff2') format('woff2'),
        url('MullerBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

